{% extends "layouts/base.html" %}
{% block content %}
<h2>Intercambios Enviados</h2>

<table>
    <thead>
        <tr>
            <th>Artículo</th>
            <th>Receptor</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
    {% for intercambio in intercambios %}
        <tr>
            <td>{{ intercambio.articulo.nombre }}</td>
            <td>{{ intercambio.receptor.username }}</td>
            <td>{{ intercambio.estado.nombre }}</td>
        </tr>
    {% empty %}
        <tr><td colspan="3">No has enviado solicitudes de intercambio.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
