{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h2>Solicitar intercambio por: {{ articulo.nombre_articulo }}</h2>

<h3>{{ articulo.nombre_articulo }}</h3>
<img src="{{ articulo.ruta_foto.url }}" alt="{{ articulo.nombre_articulo }}" width="200">
<p><strong>Descripción:</strong> {{ articulo.descripcion }}</p>
<p><strong>Estado:</strong> {{ articulo.estado }}</p>
<p><strong>Dueño:</strong> {{ articulo.propietario.username }}</p>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
        Enviar solicitud
    </button>
</form>
{% endblock %}
