{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Editar Articulo{% endblock title %}

{% block content %}
    <div class="mt-12 mb-12 w-1/2 mx-auto space-y-6">
        <h2 class="text-2xl font-bold">Editar Artículo</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {% if field.name != 'ruta_foto' %}
                    <div class="mb-4">
                        {{ field|as_crispy_field }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="mb-4">
                <label for="{{ form.ruta_foto.id_for_label }}" class="block text-sm font-medium mb-2 textx-gray-700">
                    {{ form.ruta_foto.label }}
                </label>
                <div class="flex items-center justify-center w-full">
                    <label for="{{ form.ruta_foto.id_for_label }}" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                            <svg class="w-8 h-8 mb-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                            </svg>
                            <p class="mb-2 text-sm text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                            <p class="text-xs text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                        </div>
                        {{ form.ruta_foto }}
                    </label>
                </div>
                {% if form.ruta_foto.errors %}
                    <p class="mt-1 text-sm text-red-600">{{ form.ruta_foto.errors|join:", " }}</p>
                {% endif %}
                {% if form.ruta_foto.help_text %}
                    <p class="mt-1 text-sm text-gray-500">{{ form.ruta_foto.help_text }}</p>
                {% endif %}
            </div>
            <button type="submit" class="px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Guardar cambios</button>
        </form>
    </div>
{% endblock %}
